#blog-container .blogpost {
    width: 100%;
    margin: auto;
}

#blog-container .blogpost p {
    text-align: start;
    padding-bottom: 60px !important;
}

#blog-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 10vw 8vw;
}

#blog-container .blogs {
    width: 80%;
}

#blog-container .blogs img {
    width: 80%;
    border-radius: 19px;
    object-fit: fill;
}

.reveal {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.reveal.active {
    transform: translateY(0);
    opacity: 1;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 4px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 19px;
    color: black;
    z-index: 1;
}

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #f75842;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    color: #ffffff;
    border: 1px solid #f75842;
}

.button:hover:before {
    top: -35%;
    background-color: #f75842;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.button:hover:after {
    top: -45%;
    background-color: #f75842;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.desc {
    width: 900px;
    letter-spacing: .1px;
}